

<div class="w-50 border border-dark border-3 p-2 m-auto mt-2">
  <h3 class="display-6 p-2 mb-2 "  style="color: palegoldenrod; background-color: rgb(2, 66, 76);">
    Project : <%= project.name %>
  </h3>
  <h4 class="display-6 p-3 mb-2 text-dark" style="background-color:rgb(202, 224, 226);">
    Author : <%= project.author %>
  </h4>
  <h5 class="display-6 p-3 mb-2" style="color: palegoldenrod; background-color: rgb(2, 66, 76);">
    Description : <%= project.description %>
  </h5>
</div>
<%-include('./partials/_issues'); %>